[Unit]
Description=Seedbox puller (qBittorrent API + rclone)
After=network-online.target
Wants=network-online.target

OnSuccess=qBitPuller-sonarr-cleanup.service

[Service]
Type=oneshot
EnvironmentFile=/etc/qBitPuller/qBitPuller.env
LoadCredential=rclone.conf:/etc/qBitPuller/rclone.conf
Environment=RCLONE_CONFIG=%d/rclone.conf
User=qbitpuller
Group=media
UMask=0002
ExecStart=/usr/bin/python3 /usr/local/bin/qBitPuller.py
